*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --logo-load-time: 200ms;
    --header-load-time: 400ms;
    --ul-load-time: 600ms;
    font-family: 'Roboto', sans-serif;
}
.container{
    position: relative;
    width: 100%;
 
    
}
.nav-container{
    background-image: url("images/bg.jpg");
    /*box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 75%);*/
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 20%);
    z-index: -1000;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    color: #fff;
   
    /*clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);*/
    width: 100%;
}
header{
    margin: 0 auto;
    padding: 1rem;
    color: #000;
    background-color: #ffffff00;
    z-index: 1000;

  
}


.checkbtn{
    font-weight: 30px;
    color: #fff;    
    float: right;
    line-height: 30px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

i {
    margin-top: .5rem;
}
#check{
    display: none;
}
header ul{
    float: right;
    margin-right: 100px;  
}
header ul li{
    display: inline-block;
    margin: 0 5px;
    list-style: none;
    line-height: 30px;
    z-index: 1000;
}
header ul li a{
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 10px;
}
a.active,a:hover{
    /*background: #00bcd40f;*/
    transition: .5s;
}


.logo{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 100px;
    letter-spacing: 2px;
    color: #fff;
    animation: fadeIn 500ms ease-in var(--logo-load-time);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
.nav-wrapper{
    background-color: #ffffff4a;
    width: 100%;
    margin: 0 auto;


  
}
.nav-wrapper.sticky{
    padding: 0 0;
    background-color: #000;
    color: #fff;
}
.nav-wrapper.sticky  ul li a{
    color: #fff;
}
.nav-wrapper.sticky .logo{
    color: #fff;
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrapper{
    width: 90%;
    margin: 8em auto;
    text-align: center;
}
.content .content-wrapper h1{
    font-weight: bold;
    z-index: 1000;
    font-size: 3rem;
    z-index: 1000;
    text-transform: uppercase;
    animation: header-onload 300ms ease-in var(--header-load-time);
    animation-fill-mode: forwards;
    transform: translateX(-20px);
    opacity: 0;
}
    .content .content-wrapper p{
    
    margin: 0 auto;
        width: 90%;
    line-height: 1.2;
    font-size: 1.5rem;
    padding: 1rem 0;
    animation: header-onload 300ms ease-in var(--header-load-time);
    animation-fill-mode: forwards;
    transform: translateX(-20px);
    opacity: 0;
}
    .btn{
    padding: .8rem;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
 }  /* 


.content{
    width: 100%;
    text-align: center;
    padding-bottom: 90px;
    
}

.content1{
    width: 100%;
    margin: 0 auto;
   
}
.content h1{
    padding-top: 90px;
    font-weight: 900;
    z-index: 1000;
    font-size: 3.5rem;
    z-index: 1000;
   
    
}
.content p{
    margin: 0 auto;
    width: 80%;
    line-height: 1.2;
    font-size: 1.2rem;
    padding: 1rem 0;

} */

.agentButton-container{
    /* position: fixed; */
    margin: 0 auto;
    font-weight: 900;
    animation: ul-onload 300ms ease-in var(--ul-load-time);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
    
}

.agentButton{
    padding: 1rem 1.5rem;
    width: 180px;
    margin: 1rem 100px 1rem 100px; 
    font-weight: 700;
    background-color: #000;
    color: #fff;
    z-index: 1000;
    text-align: center;


    /* padding: 1rem;
    background-color: #ff9c07;
    border-radius: 5px;
    color: #000;
    z-index: -1000;
    margin: 1rem 100px 1rem 100px; */
}
.second-container{
    text-align: center;
}
#about{
    width: 90%;
    margin: 0 auto;
}
.about-title{
    font-size: 2rem;
    font-weight: 800;
    padding: 2rem 0 .5rem 0;
    margin-top: 0;
}
    
.learnmore-btn{
    font-size: 1.2rem;
    border: 2px solid #fff;
    padding: .5rem;
    width: 150px;
    background-color: #000;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* .second-container{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: 
        "bowl content";
}
.about{
    grid-area: content;
    padding: 0 10%;
    text-align: left;
  
} */
img{
    width: 100%;
   
}
.profile{
    width: 100%;
    height: auto;
    background-color: #fff;
     /*position: absolute;
   margin-top: -17em;
    margin-left: 35em; */
   
}

.awesome{
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 1.5em;
}
.awesome h5{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
}

.tag{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    padding: .2rem 1rem;
    background-color: #ff9c07;
    border-radius: 5px;
    color: #000;
    z-index: -1000;
    margin: 1rem 100px 1rem 100px;
    /* position: absolute;
    font-weight: 700;
    font-size: 1.5rem;
    padding: .2rem 1rem;
    background-color: #ff9c07;
    border-radius: 5px;
    z-index: 1000;
    margin-left: 28%;
    margin-top: -3rem;
    color: #000; */
}
.wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 3em;
 

}
.wrapper{
    width: 380px;
    height: 18em;
    margin: .5rem .5rem;
    position: relative;
    color: #000;
    background-image: url("images/property02.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
   
    /*clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);*/
   
}
.wrapper01{
    width: 380px;
    height: 18em;
    margin: .5rem .5rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #000;
    background-image: url("images/property01.jpg");
   
}


.wrapper:hover{
    transform: scale(1.05);
}
/* .wrapper p{
    margin-top: 2em;
    margin-right: auto;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    padding: 1rem;

} */
.wrapper01 h4{
    
    text-align: center;
    margin: 6em 0 1rem 0;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
    color: #fff;
}
.wrapper01 .more{
    text-decoration: none;
    width: 100%;
    margin-left: 35%;
    padding: .2rem 1rem;
    background-color: #ff2907;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: 800;
}
.wrapper01:hover{
    transform: scale(1.05);
}
/* .wrapper01 p{
    margin-top: 2em;
    margin-right: auto;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    color: #fff;

} */
.wrapper h4{
    text-align: center;
    margin: 6em 0 1rem 0;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
    
}
.wrapper .more{
    width: 100%;
    margin-left: 35%;
    padding: .2rem 1rem;
    background-color: #ff2907;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}

.more:hover{
    background-color: rgb(236, 214, 214);
    color: rgb(73, 60, 60);
}





.footer{
    text-align: center;
    width: 100%;
    height: 15em;
    background-color: #000;
  
}
.footer .epal{
    font-size: 3em;
    font-weight: 900;
    color: #fff;
    padding-top: 1em;
    margin-top: 0;
    display: block;
    margin-bottom: .5rem;
}
.footer .epal span{
    color: yellow;
}
.footer .fa{
    margin: 0 1em;
    color: #fff;
}

.footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
   
}
.copy{
    margin: 1em auto;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}
.contacts{
    padding: .2rem;
    font-size: 1.2rem;
    color: #fff;
}


@keyframes fadeIn {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
  
       
    
@keyframes header-onload{
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes ul-onload{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    75% {
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 920px)

{

    header ul li a{
    color: #000;
    }
    .logo{
        font-size: 30px;
    }
    ul li a{
        font-size: 16px;
    }
 
}


@media (max-width: 1024px)
{

    
    .logo {
        margin-left: 12px;
        font-size: 2rem;
    }
    .checkbtn{
        display: block;
        margin-right: 20px;
        margin-top: .3rem;
    }
    header ul{
        position: fixed;
        width: 80%;
       /* height: 100vh;*/
        background: #fff;
        color: #000;
        top: 70px;
        text-align: center;
        transition: all .5s;
        right: -110%;
    }
    #check:checked ~ header ul{
        right: -30%;
        width: 80%;
    }
    header ul li{
        display: block;
        margin: 2em;
    }
    header ul li a{
        font-size: 1.2rem;
    }
    a.hover,a.active{
        background: none;
        color: #fff;
    }
  
}

@media (min-width: 1024px)

  
{
    .content-wrapper{
        width: 80%;
        margin: 10em auto;
        text-align: center;
    }
    .service-content{
        width: 100%;
        background-color: #9c27b038;
       
      }
    .serviceWrap{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
       flex-wrap: wrap;
      }
    .services{
        width: 300px;
    }

    .second-container{
        text-align: center;
    }
    #about{
        width: 90%;
        margin: 0 auto;
    }
    .about-title{
        font-size: 2.5rem;
        font-weight: 800;
        padding: 2rem 0 .5rem 0;
        margin-top: 0;
    }
    #paragraph1 {
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;

    }



    .agentButton-container{
        display: none;
    }
    .second-container{
      
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-areas: 
            "bowl content";
    }
    #about{
        margin: 10em 0 0 8em;
        width: 80%;
      
        grid-area: bowl;
        padding: 0 10%;
        text-align: left;
      
    }
  
    img{
        grid-area: content;
        width: 400px;
        margin-left: 100px;
 
    }
    .tag{
       
        margin: 1rem 550px 1rem 550px;
        /* font-weight: 700;
        font-size: 1.5rem;
        padding: .2rem 1rem;
        background-color: #ff9c07;
        border-radius: 5px;
        z-index: 1000;
        margin-left: 43%;
        margin-top: -3rem;
        color: #000; */
    }
    .learn{
        width: 70%;
        padding: 1em 2em 1em 0;
    }
 
}
